@model Producto
<h1>@(ViewContext.RouteData.Values["action"].ToString() == "Create" ? "Crear" : "Editar") Producto</h1>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="@ViewContext.RouteData.Values["action"].ToString()">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nombre" class="control-label"></label>
				<input asp-for="Nombre" class="form-control" />
				<span asp-validation-for="Nombre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Precio" class="control-label"></label>
				<input asp-for="Precio" class="form-control" />
				<span asp-validation-for="Precio" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CategoriaID" class="control-label"></label>
				<select asp-for="CategoriaID" class="form-control" asp-items="ViewBag.CategoriaID"></select>
			</div>
			<div class="form-group">
				<label asp-for="ProveedorID" class="control-label"></label>
				<select asp-for="ProveedorID" class="form-control" asp-items="ViewBag.ProveedorID"></select>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Guardar" class="btn btn-primary" />
				<a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
			</div>
		</form>
	</div>
</div>