@{
	ViewData["Title"] = "Delete";
}

@model CRUD_Productos.Models.Producto

<h1>Eliminar Producto</h1>

<h3>¿Estás seguro que deseas eliminar este producto?</h3>
<div>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Nombre)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Nombre)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Precio)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Precio)
		</dd>
	</dl>

	<form asp-action="Delete">
		<input type="hidden" asp-for="ID" />
			<input type="submit" value="Eliminar" class="btn btn-danger" />
			<a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
	</form>
</div>